@model ComicBook.Models.TitleListViewModel

@{
    ViewBag.Title = "Titles";
}

<h2>Titles</h2>

<table class="table table-striped">
    <thread>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thread>
    <tbody>
        @for (var i = 0; i < Model.Titles.Count; i++)
        {
            <tr>
                <td>
                    @Model.Titles[i].FullName
                </td>
                <td>
                    @Html.ActionLink("Detail,", "TitleDetail", new { id = Model.Titles[i].TitleId })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-sm-12 form-group">
    <lable>Total Titles:</lable> @Model.TotalTitles
</div>

<div class="col-sm-12">
    @Html.ActionLink("Add Title", "TitleAdd", null, new { @class = "btn btn-primary" })
</div>

